.header {
    background-color: #ADD8E6; /* Light blue color */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px; /* Rounded corners */
}

.left h1 {
    margin: 0;
}

.right a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.right a:hover {
    text-decoration: underline;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}
