.header {
    background-color: #ADD8E6; /* Light blue color */
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px; /* Rounded corners */
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}
